.timer {
    color:forestgreen;
    border: 2px solid black;
}

body {
    color:#fff
}

.choice-container {
    display: flex;
    margin-bottom: 0.9rem;
    width: 100%;
    border-radius: 5px;
    background: black;
    font-size: 2.5rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba,(9, 165, 254, 0.5);
    transform: scale(1.5);
    transform: transform 160ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: whitesmoke
}

.choice-text {
    padding: 3rem;
    width: 100%
}

.correct {
    background-color: linear-gradient(green);
}

.incorrect {
    background-color: linear-gradient(red);
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.2rem solid rgb(Yellow);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}




#progressBarFull {
    height: 100%;
    background: rgb(Yellow);
    width: 0%;
}
@media screen and (max-width: 600px) {
    .choice-container {
        min-width: 40reml
    }
}